body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: rgb(130, 187, 247);
    box-shadow: rgb(199, 199, 199) 0px 20px 30px -10px;
}

.mostrar {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}