<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba técnica</title>
</head>
<body>
<!-- CABECERA DE PÁGINA-->
<div class="header">
    <h1>Bienvenido al sistema</h1>
    <h3>Por favor, haz login para empezar</h3>
</div>
<!-- SECCION DE BOTONERA-->  
<div class="botonera">
<!-- SECCION DE LOGIN-->
    <div class="alogin">
        <h2>¿Ya estás registrado?</h2>
        <h3>¡Vamos!</h3>
        <a href="/login">
            <button type="button" class="btn">Login</button>
        </a>
    </div>
<!-- SECCION DE REGISTRO-->
    <div class="alregis">
        <h2>¿Aún no estás registrado?</h2>
        <a href="/registro">
            <button type="button" class="btn">Regístrate</button>
        </a>
    </div>
</div>
</body>
</html>